#headerImage{
  width:55%;
  margin-top: 1%;
}

body {
  /*background-color: #282c34;*/
  color: white;
  justify-content: top;
  align-content: center;
  text-align: center;
  width: 93%;
  margin: 0 auto;
  background-image: url("./cyberpunk.jpg");
  background-repeat: no-repeat;
}

#container{
  background-color: #434d5ef4;
  min-height: 100vh;
}

a{
  text-decoration: none;
  /*background-color: rgb(48, 61, 83);*/
  background-color: rgb(59, 88, 138);
  padding: 6px;
  border: 5px solid black;
  border-radius: 5px;
  transform: skewX(-30deg);
  margin-left: 5px;
  margin-right: 5px;
}



a:hover{
  background-color: rgb(123, 147, 178);
}

a:visited{
  color: white;
}

#headerLink{
  border-bottom: 3px solid white;
  margin: 0;
  padding: 10px;
  
}

#headerLink a{
  background-color: #434d5e;
  border: none;
  font-size: large;
}


nav {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid white;
}

#navbar {
  list-style: none;
  display: flex;
  padding: 0;
  text-align: center;
  font-size: xx-large;
  align-items: center;
  justify-content: center;
}

#navbar a{
  margin-left: 5px;
  margin-right: 5px;
  display: block;
  width: 250px;
}

#footer {
  bottom: 0;
  display: flex;
  justify-content: center;
  border-top: 3px solid white;
  padding-top: 10px;
  width: 80%;
  margin: 0 auto;
}