body {
  background-color: #282c34;
  color: white;
  justify-content: top;
  align-content: center;
  text-align: center;
}

#navbar {
  list-style: none;
  display: flex;
  padding: 0;
  text-align: center;
}

#navbar li {
  margin-right: 20px;
  text-align: center;
}